<section class="principal">
  <article class="sidebar">
    <app-side-bar></app-side-bar>
  </article>
  <article class="content">
    <section class="page-content">
      <section class="search-and-user">
        <div class="banner">
          <p style="align-items: center;">Stock de Productos</p>
        </div>
      </section>

      <article class="container" style="width: 100%;"> <!-- Asegúrate de que el contenedor tenga 100% de ancho -->
        <div class="search-container">
          <input class="busqueda" type="text" [(ngModel)]="searchTerm" (ngModelChange)="filterData()"
            placeholder="Buscar producto...">
          <!-- <button class="btn-agregar" (click)="openModal()">Agregar Producto</button> -->
        </div>


        <div class="datatable" *ngIf="filteredData.length > 0; else noData">
          <table id="stockTable">
            <thead>
              <tr>
                <th class="th-sm">Nombre</th>
                <th class="th-sm">Cantidad</th>
                <th class="th-sm">Contenido</th>
                <th class="th-sm">Fecha de Actualización</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of pagedData">
                <td>{{ producto.product_name }}</td>
                <td>{{ producto.cantidad_producto }}</td>
                <td>{{ producto.contenido_neto }}</td>
                <td>{{ producto.fecha_ultima_actualizacion }}</td>
              </tr>
            </tbody>
          </table>
          <mat-paginator [length]="filteredData.length" [pageSize]="itemsPerPage" [pageSizeOptions]="[6, 10, 25, 50]"
            (page)="onPageChange($event)">
          </mat-paginator>


        </div>
        <ng-template #noData>
          <p>No hay productos en stock.</p>
        </ng-template>
      </article>
    </section>
  </article>
</section>