<section class="principal">
  <article class="sidebar">
    <app-side-bar></app-side-bar>
  </article>

  <article class="content">
    <section class="page-content">
      <!-- CABECERA FIJA -->
      <div class="sticky-header">
        <section class="search-and-user">
          <div class="banner">
            <p>Productos Recolectados</p>
          </div>
        </section>

        <div class="search-container">
          <input class="busqueda" type="text" [(ngModel)]="searchTerm" (ngModelChange)="filterData()"
            placeholder="Buscar...">
          <button id="agregar-productos" (click)="openModal()">Agregar Recolección</button>
        </div>
      </div>

      <!-- CONTENEDOR DE TABLA SCROLLABLE -->
      <div class="scrollable-table">
        <table id="exampleTable">
          <thead>
            <tr>
              <th>Distribuidor</th>
              <th>Fecha de Recolección</th>
              <th>Cantidad</th>
              <th>Nombre del Producto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of pagedData">
              <td>{{ producto.distribuidor }}</td>
              <td>{{ producto.fecha_recoleccion }}</td>
              <td>{{ producto.cantidad_producto }}</td>
              <td>{{ producto.nombre_producto }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- CONTROLES DE PÁGINA -->
      <mat-paginator [length]="filteredData.length" [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 20, 50]"
        (page)="onPageChange($event)">
      </mat-paginator>


      <ng-template #noData>
        <p>No hay datos para mostrar.</p>
      </ng-template>
    </section>
  </article>
</section>