<div class="custom-modal">
    <div class="modal-content">
        <span class="close-btn" (click)="onCancel()">&times;</span>
        <form (ngSubmit)="onSubmit()" #productForm="ngForm">
            <div class="form-group">
                <label for="user">Usuario:</label>
                <span class="greeting">{{ user }}</span>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>Distribuidor</mat-label>
                <mat-select [(ngModel)]="nuevoProducto.distribuidor_nombre" name="distribuidor_nombre" required>
                    <mat-option *ngFor="let dist of distribuidores" [value]="dist.distributor_name">
                        {{ dist.distributor_name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Fecha de Recolección</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="nuevoProducto.fecha_recoleccion"
                    name="fecha_recoleccion" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Cantidad</mat-label>
                <input matInput type="number" [(ngModel)]="nuevoProducto.cantidad_producto" name="cantidad_producto"
                    required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Producto</mat-label>
                <mat-select [(ngModel)]="nuevoProducto.producto_id" name="producto_id" required>
                    <mat-option *ngFor="let prod of productos" [value]="prod.id_producto">
                        {{ prod.nombre_producto }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">
                Agregar Recolección
            </button>
        </form>
    </div>
</div>