<section class="principal">
  <article class="sidebar">
    <app-side-bar></app-side-bar>
  </article>

  <article class="content">
    <section class="page-content">
      <section class="search-and-user">
        <div class="banner">
          <p style="align-items: center;">Comida Suministrada</p>
        </div>
      </section>

      <article class="container">
        <div class="search-container">
          <input
            class="busqueda"
            type="text"
            [(ngModel)]="searchTerm"
            (ngModelChange)="filterData()"
            placeholder="Buscar..."
          />

          <select [(ngModel)]="selectedCorral" (change)="filterData()">
            <option value="">Todos los corrales</option>
            <option *ngFor="let corral of comidasSuministradas | uniqueCorrales" [value]="corral">
              Corral {{ corral }}
            </option>
          </select>

          <input type="date" [(ngModel)]="selectedDate" (change)="filterData()" />

          <button id="agregar-productos" (click)="openModal()">Suministrar comida</button>
        </div>

        <div class="datatable" *ngIf="filteredData.length > 0; else noData">
          <div data-mdb-datatable-init class="datatable">
            <table id="exampleTable">
              <thead>
                <tr>
                  <th>Corral</th>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Fecha Suministrada</th>
                  <th>Usuario</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let comida of pagedData">
                  <td>Corral {{ comida.corral_id }}</td>
                  <td>{{ comida.producto }}</td>
                  <td>{{ comida.cantidad }}</td>
                  <td>{{ comida.fecha_suministro | date: 'yyyy-MM-dd HH:mm' }}</td>
                  <td>{{ comida.usuario }}</td>
                </tr>
              </tbody>
            </table>

            <mat-paginator
              [length]="filteredData.length"
              [pageSize]="itemsPerPage"
              [pageSizeOptions]="[6, 10, 25, 50]"
              (page)="onPageChange($event)">
            </mat-paginator>
          </div>
        </div>

        <ng-template #noData>
          <p>No hay datos para mostrar.</p>
        </ng-template>
      </article>
    </section>
  </article>
</section>
