<div id="wrapper" [class.toggled]="isCollapsed">
    <div class="overlay" [style.display]="isClosed ? 'block' : 'none'"></div>

    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a (click)="navigateToDashboard()">Brand</a>
                </div>
            </div>

            <li><a (click)="navigateToDashboard()">Dashboard</a></li>

            <li class="nav-item dropdown" *ngIf="userRole && userRole.includes('ADMIN')">
                <a class="nav-link dropdown-toggle" href="#" role="button" (click)="toggleUserSubmenu()">
                    Users
                </a>
                <ul *ngIf="isUsersSubmenuOpen" class="dropdown-menu show">
                    <li><a class="dropdown-item" (click)="navigateToViewAdministrador()">Distribuidores</a></li>
                    <li><a class="dropdown-item" (click)="navigateToViewuser()">Usuarios</a></li>
                </ul>
            </li>



            <li class="dropdown">
                <a (click)="toggleTrendsSubmenu()">Trends <span class="caret"></span></a>
                <ul *ngIf="isTrendsSubmenuOpen" class="dropdown-menu animated fadeInLeft">
                    <li><a (click)="navigateTorecoleccion()">Productos Recolectados</a></li>
                    <li><a (click)="navigateToComidaSuministrada()">Comida Suministrada</a></li>
                    <li><a (click)="navigateToStockproductos()">Stock</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a (click)="toggleAfiliadoSubmenu()">Afiliados <span class="caret"></span></a>
                <ul *ngIf="isAfiliadoSubmenuOpen" class="dropdown-menu animated fadeInLeft">
                    <li><a (click)="navigateToAddProductSale()">Mis Productos</a></li>
                    <li><a (click)="navigateToViewProductsSale()">Productos en venta</a></li>
                    <li><a (click)="navigateToStockproductos()">Stock</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a (click)="toggleVentasSubmenu()">Ventas <span class="caret"></span></a>
                <ul *ngIf="isVentasSubmenuOpen" class="dropdown-menu animated fadeInLeft">
                    <li><a (click)="navigateToViewPresale()">Pre Ventas</a></li>
                    <li><a (click)="navigateToViewSale()">Histórico de Ventas</a></li>
                </ul>
            </li>

            <li><a (click)="navigateTocollection()">Colección</a></li>
            <li><a (click)="logout()">Cerrar sesión</a></li>
        </ul>
    </nav>

    <div id="page-content-wrapper">
        <button type="button" class="hamburger animated fadeInLeft" data-toggle="offcanvas"
            [class.is-closed]="!isClosed" [class.is-open]="isClosed" (click)="toggleSidebar()">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
    </div>
</div>