<div id="wrapper" [class.toggled]="isCollapsed">
    <div class="overlay" [style.display]="isClosed ? 'block' : 'none'"></div>

    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a (click)="navigateToDashboard()"><span class="greeting">{{ user }}</span></a>
                </div>
            </div>

            <li><a (click)="navigateToDashboard()"><i class="material-icons">dashboard</i>Dashboard</a></li>

            <li class="nav-item dropdown" *ngIf="userRole && userRole.includes('ADMIN')">
                <a class="nav-link dropdown-toggle" href="#" role="button"
                    (click)="toggleUserSubmenu(); $event.preventDefault()"><i class="material-icons">group</i>
                    Gestion de Usuarios
                </a>
                <ul *ngIf="isUsersSubmenuOpen" class="dropdown-menu show">
                    <li>
                        <a class="dropdown-item no-hover" (click)="navigateToViewAdministrador()"><i
                                class="material-icons">local_shipping</i>Distribuidores</a>
                    </li>
                    <li>
                        <a class="dropdown-item no-hover" (click)="navigateToViewuser()"><i
                                class="material-icons">person</i> Usuarios</a>
                    </li>

                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" (click)="toggleTrendsSubmenu()" role="button">
                    <i class="material-icons">tune</i>Gestion
                </a>
                <ul *ngIf="isTrendsSubmenuOpen" class="dropdown-menu show">
                    <li><a class="dropdown-item" (click)="navigateTorecoleccion()"><i
                                class="material-icons">shopping_cart</i>Recolección</a></li>
                    <li><a class="dropdown-item" (click)="navigateToComidaSuministrada()">
                            <i class="fa-solid fa-bowl-food"></i>Alimentación</a></li>
                    <li><a class="dropdown-item" (click)="navigateToStockproductos()">
                            <i class="fa-solid fa-box-open"></i>Stock</a></li>
                    <li><a class="dropdown-item" (click)="navigateToViewProducts()">
                            <i class="fa-solid fa-tag"></i> Productos
                        </a></li>

                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" (click)="toggleAnimalSubmenu()" role="button">
                    <i class="fa-solid fa-piggy-bank"></i>
                    Animales
                </a>
                <ul *ngIf="isAnimalSubmenuOpen" class="dropdown-menu show">
                    <li><a class="dropdown-item" (click)="navigateTorecoleccion()"><i
                                class="material-icons">recycling</i>Lista Animales</a></li>
                    <li><a class="dropdown-item" (click)="navigateToComidaSuministrada()"><i
                                class="material-icons">restaurant</i>Alimentación</a></li>

                    <li><a class="dropdown-item" (click)="navigateToStockproductos()"><i
                                class="fa-solid fa-box-open"></i>

                            Stock</a></li>
                    <li><a class="dropdown-item" (click)="navigateToFaseCrianza()"><i
                                class="fa-solid fa-box-open"></i>

                            Fase crianza</a></li>
                </ul>
            </li>


            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" (click)="toggleAfiliadoSubmenu(); $event.preventDefault()"
                    role="button">
                    <i class="material-icons">group_add</i>Afiliado <span class="caret"></span>
                </a>
                <ul *ngIf="isAfiliadoSubmenuOpen" class="dropdown-menu show animated fadeInLeft">
                    <li><a class="dropdown-item" (click)="navigateToAddProductSale()">Catalogo</a></li>
                    <li><a class="dropdown-item" (click)="navigateToViewProductsSale()">Productos en venta</a></li>
                    <!-- <li><a class="dropdown-item" (click)="navigateToStockproductos()">Stock</a></li> -->
                </ul>
            </li>


            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" (click)="toggleVentasSubmenu(); $event.preventDefault()"
                    role="button">
                    <i class="material-icons">point_of_sale</i>Ventas <span class="caret"></span>
                </a>
                <ul *ngIf="isVentasSubmenuOpen" class="dropdown-menu show animated fadeInLeft">
                    <li><a class="dropdown-item" (click)="navigateToViewPresale()">Pre Ventas</a></li>
                    <li><a class="dropdown-item" (click)="navigateToViewSale()">Histórico de Ventas</a></li>
                    <li><a class="dropdown-item" (click)="redirectToAddProductSale()">Agregar Venta</a></li>
                    <li><a class="dropdown-item" (click)="redirectToAddCommission()">Agregar Comision</a></li>
                </ul>
            </li>


            <!-- <li><a (click)="navigateTocollection()">Colección</a></li> -->
            <li><a (click)="logout()"><i class="material-icons">logout</i>Cerrar sesión</a></li>
        </ul>
    </nav>

    <div id="page-content-wrapper">
        <button type="button" class="hamburger animated fadeInLeft" data-toggle="offcanvas"
            [class.is-closed]="!isClosed" [class.is-open]="isClosed" (click)="toggleSidebar()">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
    </div>
</div>